{% macro render() %}
	<div class="quote">
		<div class="quote__circle">
			<div class="quote__square">
        <i class="fas fa-angle-double-right"></i>
			</div>
		</div>
		<p class="quote__description">
			I hope future updates will help her become even better. Only five stars! and this despite the fact that the topic is
			still under improvement. A great team with a great idea of the
			catalog.<br/>
		</p>

		<hr/>
		<span class="quote__author">Dustin Barnes 1</span>

	</div>
  <div class="quote">
		<div class="quote__circle">
			<div class="quote__square">
				<i class="fas fa-quote-left"></i>
			</div>
		</div>
		<p class="quote__description">
			A great team with a great idea of the catalog.Only five stars! and this despite the fact that the topic is
			still under improvement. I hope future updates will help her
			become even better. <br/>
		</p>
		<hr/>
		<span class="quote__author">Dustin Barnes 2</span>

	</div>
  <div class="quote">
		<div class="quote__circle">
			<div class="quote__square">
				<i class="fas fa-quote-right"></i>
			</div>
		</div>
		<p class="quote__description">
			Only five stars! and this despite the fact that the topic is
			still under improvement. I hope future updates will help her
			become even better. A great team with a great idea of the
			catalog.<br/>
		</p>
		<hr/>
		<span class="quote__author">Dustin Barnes</span>

	</div>
  <div class="quote__tab">
			<i class="fas fa-circle quote__dots" onclick="currentDiv(1)"></i>
			<i class="fas fa-circle quote__dots" onclick="currentDiv(2)"></i>
			<i class="fas fa-circle quote__dots" onclick="currentDiv(3)"></i>
		</div>
{% endmacro %}
