{% macro render() %}
	<div class="effect12">
		<img src="../../img/background.jpg" alt="background">
		<span class="effect12__title" style="color: #fff;font-size: 25px;">NICELILY</span>
		<div class="effect12__box">
			<i class="far fa-heart effect12__icon--1"></i>
			<i class="far fa-heart effect12__icon--2"></i>
			<i class="far fa-heart effect12__icon--3"></i>
		</div>
	</div>
{% endmacro %}
