.effect12 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  height: 300px;
  overflow: hidden;
  &:hover .effect12__box {
    opacity: 1;

  }

  &:hover img{
    opacity: 0.8;
    width: 520px;
    height: 320px;
  }
  &:hover .effect12__title {
    opacity: 0;
  }
}
.effect12__box {
  position: absolute;
  width: 370px;
  height: 100px;
  border-bottom: 100px solid rgb(158, 166, 238);
  border-left: 370px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  transition: all 0.5s;
  align-content: center;
  flex-wrap: wrap;
  bottom: 0;
}
.effect12 img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 500px;
  height: 300px;
}

.effect12__title {
  position: absolute;
  top: 135px;
  left: 140px;
  transition: all 0.3s;
}


.effect12 img {
  transition: all 0.5s;
}

.effect12__icon--1 {
  position: absolute;
  bottom: 0;
  left: -73px;
  transition: all 0.3s;
  opacity: 0;
  color: red;
}

.effect12__icon--2 {
  position: absolute;
  bottom: 0;
  left: 60px;
  transition: all 0.3s;
  opacity: 0;
  color: red;
}
.effect12__icon--3 {
  position: absolute;
  bottom: 0;
  left: -73px;
  transition: all 0.3s;
  opacity: 0;
  color: red;
}
