{% macro render() %}
	<div class="menu col-lg-11">
		<ul>
			<li>
				<a href="#">Home</a>
			</li>
			<li>
				<a href="#">About Application</a>
			</li>
			<li>
				<a href="#">Support</a>
			</li>
			<li>
				<a href="#">Blog</a>
			</li>
		</ul>
		<div class="btn-container">
			<button class="btn btn--primary">Get Started</button>
			<button class="btn btn--secondary">Buy Now</button>
		</div>
	</div>
{% endmacro %}
