.effect5 {
  position: relative;
  cursor: pointer;
  height: 300px;
  overflow: hidden;
  &:hover .effect5__content {
    opacity: 1;
    transform: translateY(-50px);

  }
  &:hover .effect5__description {
    opacity: 1;
  }
  &:hover img{
    opacity: 0.8;
    width: 500px;
    height: 300px;
  }
  &:hover .effect5__title {
    transform: translateY(-20px);
  }

}
.effect5__box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.effect5 img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 520px;
  height: 320px;
}

.effect5__title {
  margin-top: 20px;
  transition: all 0.5s;
}
.effect5__content {
  border: 1px solid #fff;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.effect5__description {
  opacity: 0;
  transition: opacity 0.5s;
}
.effect5 img {
  transition: all 0.5s;
}
