{% import "../../../shared/post/post.twig" as post %}
{% import "../../../shared/textHead/textHead.twig" as textHead %}
<section class="page-section">
	<div class="container">
		<div
			class="row">
			<!-- Text head -->
			<div class="text-head col-lg-12">
				{{textHead.render(postSection.heading)}}
			</div>
			<!-- End / Text head -->
		</div>
		<div class="row">
			{% for item in postSection.content %}
				<div class="col-xs-11 col-sm-5 col-lg-4">
					{{post.render({srcImg: item.srcImg, title: item.title,text: item.text})}}
				</div>

			{% endfor %}

		</row>
	</section>
