.btn {
  border-radius: 10px;
  height: 46px;
  letter-spacing: 0.5px;
  color: rgb(252, 241, 241);
  padding: 0px 10px 0px 10px;
  margin: 10px 5px 0px 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgb(32, 32, 32);
}

.btn--primary {
  border: #616AE8;
  background-color: #616AE8;
}
.btn--secondary {
  border: #20E5A7;
  background-color: #20E5A7;
}

