{% extends "./abstracts/layout.twig" %}
{% import "./shared/button/button.twig" as button %}
{% import "./shared/menu/menu.twig" as menu %}
{% import "./shared/textBox/textBox.twig" as textbox %}
{% import "./shared/quote/quote.twig" as quote %}

{% block header %}
	<header class="page-header">
		<div class="container page-header__container">
			<div class="row" style="justify-content: flex-start;">
				<div class="col-lg-2" style="cursor: pointer">
					<img src="./img/logo.png" alt="Logo"/>
				</div>
				{{menu.render()}}
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}

	{% include "./containers/home/textBoxSection/textBoxSection.twig" %}
	{% include "./containers/home/quoteSection/quoteSection.twig" %}
  {% include "./containers/home/featureSection/featureSection.twig" %}
	{% include "./containers/home/postSection/postSection.twig" %}


{% endblock %}
