*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.45;
  font-weight: 400;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
